<!-- <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
</head>
<body> -->
    <!-- <%- include("_header") %> -->
    <link rel="stylesheet" href="/css/user_profile.css">
    <h1>Social/Users/Profile</h1>
    <p><%= user.name %></p>
    <p><%= user.email %></p>
    <div id="post-list-container">
        <ul>
            <% for(post of posts){%>
                <li>
                    <p>
                        <%= post.content %>
                        <br>
                        <%= post.user.name %>
                    </p>
                    <div id="post-comments">
                        <% if (locals.user){ %>
                            <form action="comment/commentCreate" method="POST">
                                <input type="text" name="content" placeholder="Add Your Comment" required>
                                <input type="hidden" name="post" value="<%= post._id %>">
                                <button type="submit">Add Comment</button>
                            </form>
                        <% } %>
                        <div class="post-comment-list">
                            <ul id="pot-comment-<%= post._id %>">
                                <% for (comment of post.comment){%>
                                    <li>
                                        <p>
                                            <%= comment.content %>
                                            <br>
                                            <small>
                                                <%= comment.user.name %>
                                            </small>
                                        </p>
                                    </li>
                                <% } %>

                            </ul>

                        </div>
                    </div>
                </li>
            <%}%>
        </ul>
    </div>
    <!-- <%- include("_footer") %> -->
    <script src="/user_script.js"></script>
<!-- </body>
</html> -->